<h1>Editar Tarefa</h1>
<div class="well">
  <form #formTarefa="ngForm" >
    <div class="form-group" *ngIf="tarefa !== undefined">
      <label for="nome"> Tarefa:</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="tarefa.nome"
        #nome="ngModel"
        minlength="5"
        required
      />
      <div *ngIf="nome.errors && (nome.dirty || nome.touched)"
       class="alert alert-danger">
        <div [hidden]="!nome.errors.required">
          Digite a Tarefa
        </div>
        <div [hidden]="!nome.errors.minlength">
          A tarefa deve conter ao menos 5 caracteres
        </div>
      </div>
    </div>
    <div claass="form-group text-center" *ngIf="tarefa !== undefined">
      <input
        type="submit"
        class="btn btn-success"
        value="Atualizar"
        (click) = "atualizar()"
        [disabled] = "!formTarefa.form.valid"
      />
      <a [routerLink]="['/tarefas/listar']" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span> Voltar
      </a>
    </div>
  </form>

</div>
